github---share-v8BtA5xoauWL5fIm.json
{"createdAt":"2025-06-22T17:08:59.797Z","updatedAt":"2025-06-22T17:15:57.000Z","id":"v8BtA5xoauWL5fIm","name":"GitHub - share","active":false,"nodes":[{"parameters":{"includeTime":false,"options":{}},"id":"72fbfa40-031b-4f43-8f1b-933eab7c3aee","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[260,420]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"561a0c2c-96c0-43cc-8534-ea83a1b699e0","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[440,420]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"acd30bba-f313-4a18-acb8-c017768f571f","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,420]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_Workflows","mode":"url"}},"id":"793cb8f5-c4f4-42ce-aa0e-eb237c102928","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[840,420],"alwaysOutputData":true,"webhookId":"25a82373-f50e-4fd1-9b33-eb2d96b39856","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"4b558305-0a19-462d-aa91-a190c52f6d7b","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,420]},{"parameters":{"filters":{},"requestOptions":{}},"id":"f99ffb4d-c277-452e-8af8-dec6fa95ec31","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1240,420],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"60f05ccd-0cec-40b4-9db3-870ff8232591","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,420]},{"parameters":{"batchSize":1,"options":{}},"id":"42b0022a-9e4f-4543-9299-6a35025a043c","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,420]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"1d83fc49-04d0-44eb-a139-a20ee8cc4842","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,340]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_Workflows","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"87215b05-157b-4316-9ab1-c7459745f80f","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,140],"webhookId":"a675d252-50a2-4ca9-a928-3cb8e345c618","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_Workflows","mode":"url"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d036250d-f9a9-4069-8c25-a05d6fa5f1d1","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,540],"webhookId":"c8e22dc6-69b1-4cc5-bcae-9a9010f53fe1","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339,"width":585},"id":"acdd25be-92a2-4db4-a499-f93a7fa09b68","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,260]},{"parameters":{"content":"## Retrieve workflows\nGet the selected workflow form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"fb3a7e4d-6806-4e08-83c3-d5d2437ea683","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,260]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"d5f09ed5-f984-47bc-9609-f6341bb0a5da","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,0]},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/lcsfox337","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/lcsfox337/HSAN_agentic","mode":"url"},"filePath":"github---share-team-pg7jvsYQGhrmSPGe.json","additionalParameters":{}},"id":"ca73bdbf-eb6e-48d4-8659-6f698687971b","name":"GET REPO [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[260,840],"alwaysOutputData":true,"webhookId":"9b2034d8-2c14-4117-b2b7-df3917d2a594","credentials":{"githubApi":{"id":"ZUeEMXykAEwNyR7n","name":"GitHub account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,840],"id":"01cfcee7-89e1-4a7d-8156-644d18874e0a","name":"Convert back to JSON"},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"pg7jvsYQGhrmSPGe","mode":"list","cachedResultName":"GitHub - share Team (#pg7jvsYQGhrmSPGe)"},"workflowObject":"={{ $json.data.toJsonString() }}","requestOptions":{}},"id":"3bafd88e-a981-4b90-974f-b807553c19e7","name":"Update workflow [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[760,840],"credentials":{"n8nApi":{"id":"SLw17ZObg4LJS4Ti","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[20,420],"id":"4c7eaa25-c6db-4ab3-85bf-9364743b1a89","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Update Workflow\nthe last node determines where the workflow is saved - make sure that you do not overwrite anything by accident!.","height":339.42690909090965,"width":585.4045090909088},"id":"c8fc79fe-4efc-4428-87c1-67528bc5f8d9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,720]},{"parameters":{"content":"## ATTENTION\nmake sure to click \"SAVE\" before pressing \"Test workflow\" / Updating GitHub","height":119,"width":465},"id":"6f11bafc-c01a-4952-829a-48092edda09a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-20]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"GET REPO [GITHUB]1":{"main":[[{"node":"Convert back to JSON","type":"main","index":0}]]},"Convert back to JSON":{"main":[[{"node":"Update workflow [N8N]1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a403ed52-ce47-452f-a74c-deae4cd7e3f0","triggerCount":0,"shared":[{"createdAt":"2025-06-22T17:08:59.803Z","updatedAt":"2025-06-22T17:08:59.803Z","role":"workflow:owner","workflowId":"v8BtA5xoauWL5fIm","projectId":"NrQd9r8oMpFtZnHg","project":{"createdAt":"2025-03-27T22:05:44.195Z","updatedAt":"2025-03-28T11:50:14.003Z","id":"NrQd9r8oMpFtZnHg","name":"Lukas Lindner <lindner20356@hs-ansbach.de>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T22:05:44.214Z","updatedAt":"2025-03-27T22:05:44.214Z","role":"project:personalOwner","userId":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","projectId":"NrQd9r8oMpFtZnHg","user":{"createdAt":"2025-03-27T22:05:44.182Z","updatedAt":"2025-04-25T10:38:49.888Z","id":"f0acf7a2-460e-4efb-b44a-32b7a18342d7","email":"lindner20356@hs-ansbach.de","firstName":"Lukas","lastName":"Lindner","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-28T11:50:51.570Z","personalization_survey_n8n_version":"1.82.3","companyType":"personal","reportedSource":"other","reportedSourceOther":"I was invited "},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ZVgChKHo1urRFpDV","userActivated":true,"userActivatedAt":1745299771787,"npsSurvey":{"responded":true,"lastShownAt":1745577527257}},"role":"global:member","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":false}}]}}],"tags":[{"createdAt":"2025-05-09T16:15:57.126Z","updatedAt":"2025-05-09T16:15:57.126Z","id":"gPAtMSxXCGbuEnYD","name":"GITHUB"}]}